img(src="/icon/dark.svg" alt="تغيير الثيم" width="25" height="25")#buttonTheme 
#analytics
    p#analyticsTitleTop إحصائيات
    ul#analyticsBox 
        li
            span.list-icon
            p.analyticsTitle زوار الموقع:
            p.analyticsNumber#analyticsViews
        li
            span.list-icon
            p.analyticsTitle عدد المواضيع:
            p.analyticsNumber#analyticsTopics
        li
            span.list-icon
            p.analyticsTitle عدد التعليقات:
            p.analyticsNumber#analyticsComments
        li
            span.list-icon
            p.analyticsTitle عدد الأعضاء:
            p.analyticsNumber#analyticsUsers
#rights
    p=`جميع الحقوق محفوظة ${options.website_name} ©2023`
#footer
    img(src="/icon/logo_2.svg" alt="logo" class="iconFilter" width="30" height="30")#logo_footer
    #footer_box
        #footer_right 
            h2.footer_category حول المنصة
            p= `منصة ${options.website_name} هي منصة إلكترونية تهدف إلى تقديم محتوى إسلامي شامل يشمل القرآن الكريم، الأذكار، الفتاوى، الأدعية، أوقات الصلاة، وغيرها من المحتويات الإسلامية.`
        #footer_left 
            h2.footer_category وسائل التواصل
            #footer_social 
                a(href="#")
                    img(src="/icon/telegram.svg" alt="telegram" class="iconFilter" width="30" height="30") 
                a(href="#")
                    img(src="/icon/instagram.svg" alt="instagram" class="iconFilter" width="30" height="30") 
                a(href="#")
                    img(src="/icon/tiktok.svg" alt="tiktok" class="iconFilter" width="30" height="30") 
                a(href="#")
                    img(src="/icon/email.svg" alt="email" class="iconFilter" width="30" height="30") 
                a(href="#")
                    img(src="/icon/call_chat.svg" alt="call_chat" class="iconFilter" width="30" height="30") 