#header
    #header_box
        #header_menu_right
            a(href="#" title="menu")#button_menu_header
                img(src="./icon/menu.svg" alt="menu")#icon_menu
            a(href="#" title="logo")#logo
                img(src="./icon/logo.svg" alt="menu")
            #header_menu_top
                a(href="#")
                    img(src="./icon/quran.svg" alt="")
                    p القرآن الكريم
                a(href="#")
                    img(src="./icon/prayer_beads.svg" alt="")
                    p اذكار
                a(href="#")
                    img(src="./icon/prayer.svg" alt="")
                    p اوقات الصلاة

        #header_menu_left
            a(href="'#'")#login دخول
            a(href="'#'")#register حساب جديد 