#header
    #header_box
        #header_menu_right
            a(href="#" title="menu")#button_menu_header
                img(src="/icon/menu.svg" alt="menu")#icon_menu
            a(href="/" title="logo")#logo
                img(src="/icon/logo.svg" alt="menu")
            #header_menu_top
                a(href="#")
                    img(src="/icon/forum.svg" alt="forum")
                    p المجتمع
                a(href="#")
                    img(src="/icon/adhkar.svg" alt="adhkar")
                    p اذكار
                a(href="#")
                    img(src="/icon/prayer.svg" alt="prayer time")
                    p اوقات الصلاة
        #header_menu_left
            a(href="/login")#login دخول
            a(href="/register")#register حساب جديد 
        #header_menu_left_isLoggedIn
            img(src="/images/test.jpg" alt="test")
        #menu_logged
            ul 
                li 
                    a(href="#") الملف الشخصي
                        img(src="/icon/profile.svg" alt="")
                li 
                    a(href="#") الإعدادات
                        img(src="/icon/settings.svg" alt="")

            button#logoutButton تسجيل خروج
        #SideMenuBox
            #SideMenu
                a(href="/login") دخول 
                a(href="/register") حساب جديد 
                a(href="/adhkar") اذكار 
                a(href="/quran") القرآن الكريم 
                a(href="#") المجتمع 
