extends ./layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/home.css")

block content
  #homePage 
    #home_category
      h2 فئات الموقع
    #home_box 
      a(href="/quran")
        img(src="/icon/quran.svg" alt="القرآن الكريم")
        p القرآن الكريم
      a(href="/adhkar")
        img(src="/icon/adhkar.svg" alt="أذكار")
        p أذكار 
      a(href="#")
        img(src="/icon/Fort.svg" alt="حصن المسلم")
        p حصن المسلم 
      a(href="#")
        img(src="/icon/prayer.svg" alt="أوقات الصلاة")
        p أوقات الصلاة 
      a(href="#")
        img(src="/icon/forum.svg" alt="المجتمع")
        p المجتمع 
      a(href="#")
        img(src="/icon/video.svg" alt="فيديوهات")
        p فيديوهات   
      a(href="#")
        img(src="/icon/images.svg" alt="صور")
        p صور  
      a(href="#")
        img(src="/icon/audio.svg" alt="صوتيات")
        p صوتيات    
      a(href="#")
        img(src="/icon/radio.svg" alt="الإذاعة")
        p الإذاعة  
      a(href="#")
        img(src="/icon/tfs.svg" alt="التفاسير")
        p التفاسير  
      a(href="#")
        img(src="/icon/Historical.svg" alt="الأحداث التاريخية")
        p الأحداث التاريخية  
      a(href="#")
        img(src="/icon/binbaz.svg" alt="فتاوى ابن باز")
        p فتاوى ابن باز
      a(href="#")
        img(src="/icon/allah.svg" alt="اسماء الله")
        p اسماء الله 
      a(href="#")
        img(src="/icon/sabha.svg" alt="المسبحة الرقمية")
        p المسبحة الرقمية 
      a(href="#")
        img(src="/icon/albitaqat.svg" alt="البطاقات")
        p البطاقات  


block script
  script(type="module")
    include ../public/js/home.js
  script.
    window.options = !{jsStringify(options)};