extends ./layout.pug

block stylesheet
  link(rel="stylesheet" href="./css/home.css")

block content
  #homePage 
    #home_category
      h2 فئات الموقع
    #home_box 
      a(href="#")
        img(src="./icon/quran.svg" alt="القرآن الكريم")
        p القرآن الكريم
      a(href="#")
        img(src="./icon/adhkar.svg" alt="أذكار")
        p أذكار 
      a(href="#")
        img(src="./icon/Fort.svg" alt="حصن المسلم")
        p حصن المسلم 
      a(href="#")
        img(src="./icon/prayer.svg" alt="أوقات الصلاة")
        p أوقات الصلاة 
      a(href="#")
        img(src="./icon/forum.svg" alt="المجتمع")
        p المجتمع 
      a(href="#")
        img(src="./icon/video.svg" alt="فيديوهات")
        p فيديوهات   
      a(href="#")
        img(src="./icon/images.svg" alt="صور")
        p صور  
      a(href="#")
        img(src="./icon/audio.svg" alt="صتويات")
        p صوتيات       


block script
  script(type="module")
    include ../public/js/home.js
  script.
    window.options = !{jsStringify(options)};