extends ./layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/home.css")

block content
  #homePage 
    #home_category
      h2 فئات الموقع
    #home_box 
      a(href="/quran" title="القرآن الكريم")
        img(src="/icon/quran.svg" alt="القرآن الكريم" class="iconFilter" width="48" height="48")
        p القرآن الكريم
      a(href="/adhkar" title="أذكار")
        img(src="/icon/adhkar.svg" alt="أذكار" class="iconFilter" width="48" height="48")
        p أذكار 
      a(href="/hisnmuslim" title="حصن المسلم")
        img(src="/icon/Fort.svg" alt="حصن المسلم" class="iconFilter" width="48" height="48")
        p حصن المسلم 
      a(href="/prayer" title="أوقات الصلاة")
        img(src="/icon/prayer.svg" alt="أوقات الصلاة" class="iconFilter" width="48" height="48")
        p أوقات الصلاة 
      a(href="/forum" title="المجتمع")
        img(src="/icon/forum.svg" alt="المجتمع" class="iconFilter" width="48" height="48")
        p المجتمع 
      a(href="/videos" title="فيديوهات")
        img(src="/icon/video.svg" alt="فيديوهات" class="iconFilter" width="48" height="48")
        p فيديوهات   
      a(href="/images" title="صور")
        img(src="/icon/images.svg" alt="صور" class="iconFilter" width="48" height="48")
        p صور  
      a(href="/audios" title="صوتيات")
        img(src="/icon/audio.svg" alt="صوتيات" class="iconFilter" width="48" height="48")
        p صوتيات    
      a(href="/radio" title="الإذاعة")
        img(src="/icon/radio.svg" alt="الإذاعة" class="iconFilter" width="48" height="48")
        p الإذاعة  
      a(href="/tafsir-quran" title="التفاسير")
        img(src="/icon/tfs.svg" alt="التفاسير" class="iconFilter" width="48" height="48")
        p التفاسير  
      a(href="/historical-events" title="الأحداث التاريخية")
        img(src="/icon/Historical.svg" alt="الأحداث التاريخية" class="iconFilter" width="48" height="48")
        p الأحداث التاريخية  
      a(href="/fataawa-ibn-baaz" title="فتاوى ابن باز")
        img(src="/icon/binbaz.svg" alt="فتاوى ابن باز" class="iconFilter" width="48" height="48")
        p فتاوى ابن باز
      a(href="/allah" title="اسماء الله الحسنى")
        img(src="/icon/allah.svg" alt="اسماء الله" class="iconFilter" width="48" height="48")
        p اسماء الله 
      a(href="/sabha" title="المسبحة الرقمية")
        img(src="/icon/sabha.svg" alt="المسبحة الرقمية" class="iconFilter" width="48" height="48")
        p المسبحة الرقمية 
      a(href="/albitaqat" title="بطاقات القرآن الركيم")
        img(src="/icon/albitaqat.svg" alt="البطاقات" class="iconFilter" width="48" height="48")
        p البطاقات  
block script
  script(type="module")
    include ../public/js/home.js
  script.
    window.options = !{jsStringify(options)};