extends ./layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/login.css")

block content
  #loginPage 
    #alert
    #loginbox
      h2 تسجيل الدخول
      #loginusername
        p إسم المستخدم
        input(type="text" name="username" placeholder="أدخل إسم المستخدم الخاصة بك")
        small إسم المستخدم أو كلمة السر غير صالحة.
      #loginpassword
        p كلمة المرور 
        input(type="password" name="password" placeholder="أدخل كلمة المرور الخاصة بك")
      button#loggedIn_bt دخول
      h4 مساعدة
      ul 
        li 
          a(href="/register") لا أملك حساب بعد
        li 
          a(href="/reset-password") فقدت كلمة المرور
block script
  script(type="module")
    include ../public/js/login.js
  script.
    window.options = !{jsStringify(options)};