extends ./layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/quran.css")

block content
  #quranPathPage 
    p=options.pathname
block script
  script(type="module")
    include ../public/js/quran.js
  script.
    window.options = !{jsStringify(options)};