extends ./layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/register.css")

block content
  #registerPage 
    #alertMessage
    h2 إنشاء حساب جديد
    ul#registerBox
      li#name 
        p الإسم الثلاثي
          span *
        input(type="text" name="name" placeholder="أكتب اسمك باللغة العربية")
        small 
      li#username
        p إسم المستخدم
          span *
        input(type="text" name="username" placeholder="أكتب إسم المستخدم باللغة الإنجليزية")
        small 
      li#email
        p البريد الإلكتروني
          span *
        input(type="email" name="email" placeholder="أدخل البريد الإلكتروني الخاص بك")
        small
      li#password
        p كلمة المرور
          span *
        input(type="password" name="password" placeholder="أدخل كلمة المرور الخاصة بك")
        small
      li#verification_question 
        p 
          span *
        input(type="text" name="verification_question" placeholder="قم بالإجابة على سؤال التحقق")#verification_question_input
        small
    #registerTerms 
      div   
        input(type="checkbox")#checkTerms
        p قرأت وأوافق على
          span 
            a(href="#") شروط استخدام 
          span و
          span 
           a(href="") بيان الخصوصية 
      small#checkTermsMassage
    button#registerButton تسجيل


block script
  script(type="module")
    include ../public/js/register.js
  script.
    window.options = !{jsStringify(options)};