extends ./layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/reset_password.css")

block content
  #resetPassPage
    ul.breadcrumb
      li 
        a(href="/")
          img(src="/icon/home.svg" alt="الرئيسية") 
      li 
        small /
        a(href="/reset-password") استعادة كلمة المرور
    #alertMessage  للأسف فشلت عملية استعادة كلمة المرور
    #resetPassBox 
      h2 استعادة كلمة المرور
      #inputEmailBox
        p البريد الإلكتروني 
        input(type="email", name="email" placeholder="أدخل البريد الإلكتروني الخاص بك")#inputEmail
        small#inputEmailMessage البريد الالكتروني الذي أدخلته غير صحيح
        button#ButtonSend إرسال
block script
  script(type="module")
    include ../public/js/reset_password.js
  script.
    window.options = !{jsStringify(options)};