#header {
    height: 60px;
    background-color: var(--color_header);
}

#header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-color: var(--border);
    border-bottom-width: 1px;
    border-bottom-style: double;
}

#header_menu_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon_menu {
    width: 22px;
}

#logo {
    margin-right: 10px;
}

#logo img {
    width: 150px;
    height: 60px;
}

#button_menu_header {
    display: block;
    padding: 10px;
    border-radius: 5px;
}

#button_menu_header:hover {
    background-color: var(--background_hover);
}

#header_menu_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_menu_left a {
    margin-right: 10px;
    padding: 6px;
    width: 80px;
    border-color: var(--border);
    border-width: 1px;
    border-style: double;
    border-radius: 5px;
}

#header_menu_left a:hover {
    background-color: var(--background_hover);
}

#header_menu_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_menu_top a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_menu_top a:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background_hover);
    border-bottom-color: var(--border);
    border-bottom-width: 1px;
    border-bottom-style: double;
}

#header_menu_top a img {
    width: 15px;
    margin-right: 8px;
}

#header_menu_top p {
    margin-right: 5px;
    margin-left: 8px;
}

@media (max-width: 750px) {
    #header_menu_top {
        display: none;
    }
}