#home_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

#home_box a {
    width: calc(80% / 3);
    display: block;
    padding: 8px;
    align-items: center;
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    margin: 5px 5px 5px 5px;
    background-color: var(--background_white);
}

#home_box a:hover {
    background-color: var(--background_hover);
}


#home_box a p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;

}

#home_box a img {
    width: 48px;
    height: 48px;
    user-select: none;
}

#home_category h2 {
    margin-top: 50px;
    color: var(--colorFontMain);
    font-size: 23px;
}

/* -------------- */

#analytics {
    width: 80%;
    max-width: 800px;
    display: block;
    background-color: var(--background_white);
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
    position: relative;
}

#analyticsTitleTop {
    width: 80px;
    position: absolute;
    margin-top: -12px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--divHeader);
    color: var(--colorWhite);
    border-radius: 8px;
    left: 50%;
    top: 0;
    transform: translatex(-50%);
}

#analyticsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#analyticsBox p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.analyticsTitle {
    font-size: 14px;
}

.analyticsNumber {
    margin-right: 3px;
    font-size: 10px;
    color: var(--colorFont2);
    font-weight: 800;
}

#analyticsBox li {
    width: calc(90% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    word-break: break-all;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: var(--background_Wild_Sand);
    border-radius: 5px;
}

.list-icon {
    display: block;
    width: 7px;
    height: 7px;
    background-color: var(--divHeader);
    border-radius: 50%;
    margin-left: 5px;
}

@media (max-width: 550px) {
    #home_box a {
        width: calc(80% / 2);
    }

    #analyticsBox {
        display: block;
    }

    #analyticsBox li {
        width: 100%;
        justify-content: center;
        background-color: var(--background_Wild_Sand);
    }
}

@media (max-width: 290px) {
    #home_box a {
        width: calc(80% / 1);
    }
}