#loginPage {
    width: 90%;
    max-width: 800px;
    background-color: var(--background_white);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* border-radius: 8px; */
    padding: 20px;
}

#alert {
    display: none;
    background-color: #fad1d1;
    padding: 10px;
}


#loginbox {
    display: none;
    text-align: right;
    padding: 10px;

}

#loginbox h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


#loginbox p {
    margin-top: 0px;
    margin-bottom: 8px;
}

#loginbox input {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border-color: var(--border);
    border-width: 1px;
    border-style: double;
    /* border-radius: 5px; */
    background-color: var(--background);
}

#loginbox small {
    display: none;
    margin-top: 5px;
    color: #ff4646;
}

#loginusername {
    margin-bottom: 20px;
}

#loggedIn_bt {
    margin-top: 30px;
    padding: 10px;
    width: 120px;
    background-color: var(--button);
    color: var(--colorWhite);
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

#loggedIn_bt:hover {
    background-color: var(--background_hover);
    color: var(--colorFontMain);
    border-color: var(--border);
    border-width: 1px;
    border-style: double;
}

#loginbox ul li a:hover {
    color: var(--colorFontMain_hover);
}