@import url('header.css');
@import url('footer.css');
@import url('fonts.css');
@import url('variables.css');


html,
body {
    margin: 0 0 0 0;
    background-color: var(--background);
    color: var(--colorFontMain);
    direction: var(--directionMain);
    text-align: center;
    font-family: var(--fontMain), sans-serif;
    color: var(--colorFontMain);
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    text-align: center;
}


a {
    text-decoration: none;
    color: var(--colorFontMain);
}

button {
    font-family: var(--fontMain);
    color: var(--colorFontMain);
    cursor: pointer;
}

input {
    font-family: var(--fontMain);
    color: var(--colorFont2);
}