@import url('header.css');
@import url('footer.css');
@import url('fonts.css');
@import url('variables.css');


html,
body {
    margin: 0 0 0 0;
    background-color: var(--background);
    color: var(--colorFontMain);
    direction: var(--directionMain);
    text-align: center;
    font-family: var(--fontMain), sans-serif;
    color: var(--colorFontMain);
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    text-align: center;
}


a {
    text-decoration: none;
    color: var(--colorFontMain);
}

button {
    font-family: var(--fontMain);
    color: var(--colorFontMain);
    cursor: pointer;
}

input {
    font-family: var(--fontMain);
    color: var(--colorFont2);
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    list-style: none;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.breadcrumb li {
    margin-left: 10px;
    margin-right: 10px;
}

.breadcrumb li small {
    margin-left: 10px;
    user-select: none;
    color: var(--colorFont2);
}

.breadcrumb li a img {
    width: 30px;
    user-select: none;
}


.breadcrumb li a:hover {
    color: var(--colorFontMain_hover);
}