#title {
    font-size: 19px;
    margin-left: 5px;
    margin-right: 5px;
}

.iconRadio {
    width: 18px;
    cursor: pointer;
    user-select: none;
    border-right-color: var(--border);
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 10px;
}

.RadioId {
    width: 50px;
    position: absolute;
    background-color: var(--divHeader);
    color: var(--colorWhite);
    padding: 5px;
    border-radius: 20px;
    top: -20px;
    right: 5px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
}

#radio {
    width: 90%;
    max-width: 1000px;
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 0px;
}

#radios {
    width: 95%;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#radio li,
#radios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background_white);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
    position: relative;
    transition: 0.3s ease-in-out;
}

#radio li:hover {
    background-color: var(--background_hover);
    transform: scale(1.05); 
    box-shadow: 0 0 10px #0000002e;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.RadioTitle {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    word-break: break-all;
}