#registerPage {
    display: none;
    width: 90%;
    max-width: 800px;
    background-color: var(--background_white);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* border-radius: 8px; */
    padding: 20px;
}

#registerPage h2 {
    margin-bottom: 20px;
}

#registerBox {
    list-style: none;
    padding: 0px;
}

#registerBox li {
    margin-top: 15px;
    margin-bottom: 15px;
}

#registerBox li p {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 5px;
}

#registerBox li p span {
    color: #ff4646;
    margin-right: 5px;
}

#registerBox li input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
    background-color: var(--background);
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
}

#registerBox li small {
    display: none;
    color: #ff4646;
    margin-top: 10px;
    text-align: right;
}

#registerTerms div {
    display: flex;
}

#registerTerms p {
    margin-right: 5px;
}

#registerTerms p span a {
    color: var(--colorFont2);
}

#registerTerms p span a:hover {
    color: var(--colorFontMain_hover);
}

#registerTerms small {
    display: none;
    text-align: right;
    color: #ff4646;
}

#registerButton {
    margin-top: 30px;
    padding: 10px;
    width: 120px;
    background-color: var(--button);
    color: var(--colorWhite);
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

#registerButton:hover {
    background-color: var(--background_hover);
    color: var(--colorFontMain);
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
}

#alertMessage {
    width: 100%;
    display: none;
    background-color: #d6fad1;
    padding: 5px;
    margin-bottom: 10px;
    border-color: #7fb481;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    color: #4b6741;
    font-size: 13px;
}

@media (max-width: 550px) {
    #registerTerms p {
        font-size: 13px;
    }

}