#resetPassBox {
    background-color: var(--background_white);
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#alertMessage {
    display: none;
    background-color: #fad1d1;
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-color: #faabab;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
}

#inputEmailBox input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
    background-color: var(--background);
}

#inputEmailBox p{
    text-align: right;
    margin-bottom: 5px;
}
#inputEmailBox small{
    display: none;
    text-align: right;
    color: #ff4646;
}

#inputEmailBox button{
    display: block;
    width: 200px;
    border-radius: 8px;
    border: none;
    background-color: var(--button);
    color: var(--colorWhite);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    transition: 0.5s ease-in-out;
}

#inputEmailBox button:hover{
    background-color: var(--background_hover);
    color: var(--colorFontMain);
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
    transition: 0.5s ease-in-out;
}