#updatePassPage {
    width: 90%;
    max-width: 700px;
    background-color: var(--background_white);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 10px;
}

#updatePassPage>h2 {
    margin-bottom: 30px;
}

#upPassinput {
    display: block;
    padding: 0;
    list-style: none;
}

#upPassinput li input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-color: var(--border);
    border-width: 1px;
    border-style: double;
    background-color: var(--background);
}

#upPassinput li p {
    text-align: right;
}

#upPassinput li small {
    display: none;
    text-align: right;
    color: #ff4646;
}

#upPassButton {
    display: block;
    width: 200px;
    border-radius: 8px;
    border: none;
    background-color: var(--button);
    color: var(--colorWhite);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    transition: 0.5s ease-in-out;
}

#upPassButton:hover {
    background-color: var(--background_hover);
    color: var(--colorFontMain);
    border-color: var(--border);
    border-width: 1px;
    border-style: double;
    transition: 0.5s ease-in-out;
}

#alertUpPass {
    display: none;
    background-color: #fad1d1;
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-color: #faabab;
    border-width: 1px;
    border-style: double;
    margin-bottom: 0px;
    margin-top: 20px;
}