:root {
    --background: #eceff4;
    --background_white: #ffffff;
    --background_hover: #f7f7f7;
    --fontMain: "Cairo";
    --colorFontMain: #1d2b64;
    --colorFont2: #7b8189;
    --directionMain: rtl;
    --border: #dbe1e6;
    --color_header: #ffffff;
}