:root {
    --background: #eceff4;
    --background_white: #ffffff;
    --background_hover: #f7f7f7;
    --background_Wild_Sand: #efefef;
    --fontMain: "Cairo";
    --fontQuran: "Amiri";
    --colorFontMain: #1d2b64;
    --colorFontMain_hover: #616b93;
    --colorFont2: #7b8189;
    --colorWhite: #ffffff;
    --button: #1d2b64;
    --directionMain: rtl;
    --border: #cdd1d4;
    --color_header: #ffffff;
    --green: #378e48;
}