extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/adhkar.css")

block content
  #adhkarPage 
    ul.breadcrumb
      li 
        a(href="/" title="الصفحة الرئيسية" aria-label="العودة إلى الصفحة الرئيسية")
          i.fa-solid.fa-house-chimney.iconBreadcrumb 
      li 
        small /
        a(href="/adhkar" title="أذكار" aria-label="الانتقال إلى أذكار") أذكار
      li 
        small /
        a(href="#" id="breadcrumbCategory" title="فئة الأذكار" aria-label="الفئة الحالية للأذكار") 
    h1#adhkarTitle(aria-label="عنوان الأذكار") 
    ul#adhkarBox(aria-label="قائمة الأذكار")

block script
  script(type="module"). 
    const options = !{JSON.stringify(options)};  // تحويل خصائص options إلى كائن JSON
    import { PageAdhkarList } from '/js/pages/adhkar.js';
    PageAdhkarList(options);