extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/static/css/adhkar.css")

block content
  ul.breadcrumb
      li 
        a(href="/")
          img(src="/static/icon/home.svg" alt="الرئيسية" class="iconFilter") 
      li 
        small /
        a(href="/adhkar") أذكار
  #adhkar_boxPage 
    ul#adhkarCategory
    #adhkarRepeat
      small عدد التكرارات :
      p 0
block script
  script(type="module")
    include ../../public/js/pages/adhkar.js