extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/adhkar.css")

block content
  #adhkarPage 
    ul.breadcrumb
      li 
        a(href="/")
          i.fa-solid.fa-house-chimney.iconBreadcrumb 
      li 
        small /
        a(href="/adhkar") أذكار
      li 
        small /
        a(href='#' id="breadcrumbCategory")
    h1#adhkarTitle
    ul#adhkarBox
block script
  script(type="module").
   const options = !{JSON.stringify(options)};  // تحويل خصائص options إلى كائن JSON
   import { PageAdhkarList } from '../js/pages/adhkar.js';
   PageAdhkarList(options);