extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/fatwas.css")

block content
  #fatwasPage 
    ul.breadcrumb
      li 
        a(href="/")
          i.fa-solid.fa-house-chimney.iconBreadcrumb 
      li 
        small /
        a(href="/fataawa-ibn-baaz") موسوعة الفتاوى الإسلامية
    h2#fatwas_title موسوعة الفتاوى الإسلامية
    ul#box_fatwas
block script
  script(type="module")
    include ../../public/js/pages/fatwas.js