extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/fatwas.css")

block content
  #fatwasItemPage 
    ul.breadcrumb
      li 
        a(href="/")
          i.fa-solid.fa-house-chimney.iconBreadcrumb 
      li 
        small /
        a(href="/fataawa-ibn-baaz") موسوعة الفتاوى الإسلامية
      li 
        small /
        a(href=`/fataawa-ibn-baaz/${options.category.replace(/ /g, '_')}`)=`الفتاوى المتعلقة ب${options.category}`
    h2#fatwas_title=options.category
    ul#box_fatwas_item
    button#more_fatwa المزيد
block script
  script(type="module").
    const options = !{JSON.stringify(options)};  // تحويل خصائص options إلى كائن JSON
    import { fataawaList } from '/js/pages/fatwas.js';
    fataawaList(options);