extends ../partials/layout.pug

block stylesheet
    link(rel="stylesheet" href="/css/history.css")

block content
    #historyPage
        ul.breadcrumb
            li 
                a(href="/")
                    i.fa-solid.fa-house-chimney.iconBreadcrumb 
            li 
                small /
                a(href="/historical-events") الموسوعة التاريخية الإسلامية
        h2 الموسوعة التاريخية الإسلامية
        input(type="text", name="search" placeholder="بحث...")#searchHistory
        ul#historyBox 
        button#historyMore المزيد
block script
    script(type="module")
        include ../../public/js/pages/history.js