extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/quran.css")

block content
  #quranPathPage 
    ul.breadcrumb
      li 
        a(href="/")
          i.fa-solid.fa-house-chimney.iconBreadcrumb 
      li 
        small /
        a(href="/quran") القرآن الكريم
      li 
        small /
        a(href=`/quran/سورة_${options.currentSurah.name.replace(/ /g, '_')}`)= `سورة ${options.currentSurah.name}`
    #quranPathBox
      a(href="#")#previousSurah
      a(href="#")#nextSurah
      h2#titleInfo
      #QuranInfoBox
        ul 
          li 
            p عدد الآيات:
              span#number_verses_span
          li 
            p عدد الكلمات:
              span#number_words_span
          li 
            p ترتيب السورة:
              span#number_span
          li 
            p عدد الحروف:
              span#number_letters_span
          li 
            p النزول:
              span#descent_span
          li 
            p الإسم بالإنجليزي: 
              span#english_name_span
      h2#bisamla
      #FontSize 
        button#Plus
          i.fa-solid.fa-square-plus
        button#Minus
          i.fa-solid.fa-square-minus.iconSize
      p#surah
      #readerBox 
        h2#titleSurah الإستماع الى سورة #{options.currentSurah.name}
        ul#readerBoxUl
block script
  script(type="module").
    const options = !{JSON.stringify(options)};  // تحويل خصائص options إلى كائن JSON
    import { quranItem } from '../js/pages/quran.js';
    await quranItem(options);