extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/quran.css")

block content
  #quranPage
    ul.breadcrumb
      li 
        a(href="/")
          i.fa-solid.fa-house-chimney.iconBreadcrumb 
      li 
        small /
        a(href="/quran") فهرس سور القران الكريم
    h2 فهرس سور القران الكريم
    ul#quranIndex 
block script
  script(type="module")
    include ../../public/js/pages/quran.js