extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/quran.css")

block content
  #quranPage
    ul.breadcrumb
      li 
        a(href="/" aria-label="الرئيسية" title="العودة إلى الصفحة الرئيسية")
          i.fa-solid.fa-house-chimney.iconBreadcrumb 
      li 
        small /
        a(href="/quran" aria-label="فهرس سور القرآن الكريم" title="الذهاب إلى فهرس سور القرآن الكريم") فهرس سور القران الكريم
    h2(aria-label="فهرس سور القرآن الكريم" title="فهرس سور القرآن الكريم") فهرس سور القران الكريم
    ul#quranIndex(aria-label="فهرس السور" title="فهرس سور القرآن الكريم") 
block script
  script(type="module").
    const options = !{JSON.stringify(options)};  // تحويل خصائص options إلى كائن JSON
    import { quranIdex } from '/js/pages/quran.js';
    quranIdex(options);
