extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/static/css/quran.css")

block content
  #quranPage
    ul.breadcrumb
      li 
        a(href="/")
          img(src="/static/icon/home.svg" alt="الرئيسية" class="iconFilter") 
      li 
        small /
        a(href="/quran") فهرس سور القران الكريم
    h2 فهرس سور القران الكريم
    ul#quranIndex 
block script
  script(type="module")
    include ../../public/js/pages/quran.js