extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/sabha.css")

block content
  #sabhaPage 
    ul.breadcrumb
      li 
        a(href="/")
          i.fa-solid.fa-house-chimney.iconBreadcrumb 
      li 
        small /
        a(href="/sabha") المسبحة الرقمية
    #sabha
      img(src="/icon/repetition.svg" alt="repetition")#repetition_bt
      h2#sabha_number 0
block script
  script(type="module")
    include ../../public/js/pages/sabha.js