extends ../partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/sabha.css")

block content
  #sabhaPage 
    ul.breadcrumb
      li 
        a(href="/" aria-label="الرئيسية" title="العودة إلى الصفحة الرئيسية")
          i.fa-solid.fa-house-chimney.iconBreadcrumb 
      li 
        small /
        a(href="/sabha" aria-label="المسبحة الرقمية" title="الذهاب إلى المسبحة الرقمية") المسبحة الرقمية
    #sabha
      i.fa-solid.fa-repeat#repetition_bt(aria-label="إعادة العد" title="إعادة العد")
      h2#sabha_number(aria-label="عدد التكرارات" title="عدد التكرارات الحالي") 0
block script
  script(type="module")
    include ../../public/js/pages/sabha.js