extends ../layout.pug

block stylesheet
    link(rel="stylesheet" href="/css/forum.css")

block content
    #forumPage
        ul.breadcrumb
            li 
                a(href="/")
                    img(src="/icon/home.svg" alt="الرئيسية") 
            li 
                small /
                a(href="/forum") مجتمع #{options.website_name}
            li 
                small /
                a(href="/forum") مجتمع #{options.website_name}
        h2 المواضيع

block script
    script(type="module")
        include ../../public/js/forum/getCategoryTopics.js
    script.
        window.options = !{jsStringify(options)}; 