extends ../layout.pug

block stylesheet
    link(rel="stylesheet" href="/css/createTopic.css")

block content
    #createTopicPage
        ul.breadcrumb
            li 
                a(href="/")
                    img(src="/icon/home.svg" alt="الرئيسية") 
            li 
                small /
                a(href="/forum") مجتمع #{options.website_name}
            if options.Category.title
                li 
                    small /
                    a(href=`/forum/${options.Category.title.replace(/ /g, '_')}`) #{options.Category.title}
        if options.session.isLoggedIn
            h2 إنشاء موضوع جديد
            #AddTopic
                #ErrorMessage kkkkkkkk
                input(type="text" name="title" placeholder="عنوان الموضوع" title="عنوان اللموضوع" maxlength="80")#titleTopic
                #editorBox
                button(title="إنشاء موضوع جديد")#ButtonAdd إنشاء موضوع
        else 
            #alertMessage
                h2 قم بتسجيل الدخول لإنشاء موضوع جديد ❌
block script
    if options.session.isLoggedIn
        script(type="module")
            include ../../public/js/forum/createTopic.js
        script.
            window.options = !{jsStringify(options)}; 