extends ./partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/home.css")

block content
  #homePage 
    #home_category
      h2 فئات الموقع
    #home_box 
      a(href="/quran" title="اذهب إلى القرآن الكريم" aria-label="اذهب إلى القرآن الكريم")
        i.fa-solid.fa-book-quran.iconMenuHome(title="أيقونة القرآن الكريم" aria-label="أيقونة القرآن الكريم")
        p(title="القرآن الكريم" aria-label="القرآن الكريم") القرآن الكريم
      a(href="/adhkar" title="اذهب إلى أذكار" aria-label="اذهب إلى أذكار")
        i.fa-solid.fa-hands-praying.iconMenuHome(title="أيقونة الأذكار" aria-label="أيقونة الأذكار")
        p(title="أذكار" aria-label="أذكار") أذكار
      a(href="/hisnmuslim" title="اذهب إلى حصن المسلم" aria-label="اذهب إلى حصن المسلم")
        i.fa-brands.fa-fort-awesome.iconMenuHome(title="أيقونة حصن المسلم" aria-label="أيقونة حصن المسلم")
        p(title="حصن المسلم" aria-label="حصن المسلم") حصن المسلم
      a(href="/prayer" title="اذهب إلى أوقات الصلاة" aria-label="اذهب إلى أوقات الصلاة")
        i.fa-solid.fa-clock.iconMenuHome(title="أيقونة أوقات الصلاة" aria-label="أيقونة أوقات الصلاة")
        p(title="أوقات الصلاة" aria-label="أوقات الصلاة") أوقات الصلاة
      a(href="/radio" title="اذهب إلى الإذاعة" aria-label="اذهب إلى الإذاعة")
        i.fa-solid.fa-radio.iconMenuHome(title="أيقونة الإذاعة" aria-label="أيقونة الإذاعة")
        p(title="الإذاعة" aria-label="الإذاعة") الإذاعة
      a(href="/tafsir-quran" title="اذهب إلى التفاسير" aria-label="اذهب إلى التفاسير")
        i.fa-solid.fa-book.iconMenuHome(title="أيقونة التفاسير" aria-label="أيقونة التفاسير")
        p(title="التفاسير" aria-label="التفاسير") التفاسير
      a(href="/historical-events" title="اذهب إلى الأحداث التاريخية" aria-label="اذهب إلى الأحداث التاريخية")
        i.fa-solid.fa-history.iconMenuHome(title="أيقونة الأحداث التاريخية" aria-label="أيقونة الأحداث التاريخية")
        p(title="الأحداث التاريخية" aria-label="الأحداث التاريخية") الأحداث التاريخية 
      a(href="/fataawa-ibn-baaz" title="اذهب إلى فتاوى ابن باز" aria-label="اذهب إلى فتاوى ابن باز")
        i.fa-solid.fa-clipboard-question.iconMenuHome(title="أيقونة فتاوى ابن باز" aria-label="أيقونة فتاوى ابن باز")
        p(title="فتاوى ابن باز" aria-label="فتاوى ابن باز") فتاوى ابن باز
      a(href="/sabha" title="اذهب إلى المسبحة الرقمية" aria-label="اذهب إلى المسبحة الرقمية")
        i.fa-solid.fa-square-plus.iconMenuHome(title="أيقونة المسبحة الرقمية" aria-label="أيقونة المسبحة الرقمية")
        p(title="المسبحة الرقمية" aria-label="المسبحة الرقمية") المسبحة الرقمية