extends ./partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/static/css/home.css")

block content
  #homePage 
    #home_category
      h2 فئات الموقع
    #home_box 
      a(href="/quran" title="القرآن الكريم")
        img(src="/static/icon/quran.svg" alt="القرآن الكريم" class="iconFilter" width="48" height="48")
        p القرآن الكريم
      a(href="/adhkar" title="أذكار")
        img(src="/static/icon/adhkar.svg" alt="أذكار" class="iconFilter" width="48" height="48")
        p أذكار
      a(href="/hisnmuslim" title="حصن المسلم")
        img(src="/static/icon/Fort.svg" alt="حصن المسلم" class="iconFilter" width="48" height="48")
        p حصن المسلم
      a(href="/prayer" title="أوقات الصلاة")
        img(src="/static/icon/prayer.svg" alt="أوقات الصلاة" class="iconFilter" width="48" height="48")
        p أوقات الصلاة
      a(href="/radio" title="الإذاعة")
        img(src="/static/icon/radio.svg" alt="الإذاعة" class="iconFilter" width="48" height="48")
        p الإذاعة
      a(href="/tafsir-quran" title="التفاسير")
        img(src="/static/icon/tfs.svg" alt="التفاسير" class="iconFilter" width="48" height="48")
        p التفاسير
      a(href="/historical-events" title="الأحداث التاريخية")
        img(src="/static/icon/Historical.svg" alt="الأحداث التاريخية" class="iconFilter" width="48" height="48")
        p الأحداث التاريخية 
      a(href="/fataawa-ibn-baaz" title="فتاوى ابن باز")
        img(src="/static/icon/binbaz.svg" alt="فتاوى ابن باز" class="iconFilter" width="48" height="48")
        p فتاوى ابن باز
      a(href="/sabha" title="المسبحة الرقمية")
        img(src="/static/icon/sabha.svg" alt="المسبحة الرقمية" class="iconFilter" width="48" height="48")
        p المسبحة الرقمية