extends ./partials/layout.pug

block stylesheet
  link(rel="stylesheet" href="/css/home.css")

block content
  #homePage 
    #home_category
      h2 فئات الموقع
    #home_box 
      a(href="/quran" title="القرآن الكريم")
        i.fa-solid.fa-book-quran.iconMenuHome
        p القرآن الكريم
      a(href="/adhkar" title="أذكار")
        i.fa-solid.fa-hands-praying.iconMenuHome
        p أذكار
      a(href="/hisnmuslim" title="حصن المسلم")
        i.fa-brands.fa-fort-awesome.iconMenuHome
        p حصن المسلم
      a(href="/prayer" title="أوقات الصلاة")
        i.fa-solid.fa-clock.iconMenuHome
        p أوقات الصلاة
      a(href="/radio" title="الإذاعة")
        i.fa-solid.fa-radio.iconMenuHome
        p الإذاعة
      a(href="/tafsir-quran" title="التفاسير")
        i.fa-solid.fa-book.iconMenuHome
        p التفاسير
      a(href="/historical-events" title="الأحداث التاريخية")
        i.fa-solid.fa-history.iconMenuHome
        p الأحداث التاريخية 
      a(href="/fataawa-ibn-baaz" title="فتاوى ابن باز")
        i.fa-solid.fa-clipboard-question.iconMenuHome
        p فتاوى ابن باز
      a(href="/sabha" title="المسبحة الرقمية")
        i.fa-solid.fa-square-plus.iconMenuHome
        p المسبحة الرقمية