#home_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

#home_box a {
    width: calc(80% / 3);
    display: block;
    padding: 8px;
    align-items: center;
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    margin: 5px 5px 5px 5px;
    background-color: var(--background_white);
    transition: 0.3s ease-in-out;
}

#home_box a:hover {
    background-color: var(--background_hover);
    transform: scale(1.05); 
    box-shadow: 0 0 10px #0000002e;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#home_box a p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;

}

#home_box a img {
    width: 48px;
    height: 48px;
    user-select: none;
}

#home_category h2 {
    margin-top: 50px;
    color: var(--colorFontMain);
    font-size: 23px;
}

/* -------------- */

.list-icon {
    display: block;
    width: 7px;
    height: 7px;
    background-color: var(--divHeader);
    border-radius: 50%;
    margin-left: 5px;
}

@media (max-width: 550px) {
    #home_box a {
        width: calc(80% / 2);
    }
}

@media (max-width: 290px) {
    #home_box a {
        width: calc(80% / 1);
    }
}