html,
body {
    margin: 0 0 0 0;
    background-color: var(--background);
    color: var(--colorFontMain);
    direction: var(--directionMain);
    text-align: center;
    font-family: var(--fontMain), sans-serif;
    color: var(--colorFontMain);
    height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    overflow-x: hidden;
}

#content {
    margin-top: 60px;
    flex: 1;
    text-align: center;
}


a {
    text-decoration: none;
    color: var(--colorFontMain);
}

button {
    font-family: var(--fontMain);
    color: var(--colorFontMain);
    cursor: pointer;
}

input {
    font-family: var(--fontMain);
    color: var(--colorFont2);
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    list-style: none;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.breadcrumb li {
    margin-left: 10px;
    margin-right: 10px;
}

.breadcrumb li small {
    margin-left: 10px;
    user-select: none;
    color: var(--colorFont2);
}

.breadcrumb li a img {
    width: 30px;
    user-select: none;
}


.breadcrumb li a:hover {
    color: var(--colorFontMain_hover);
}

#loading {
    display: none;
    width: 120px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

* {
    -webkit-tap-highlight-color: #00000000;
}

input:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none;
}


.ck {
    color: var(--colorFontMain) !important;
    border-color: var(--border) !important;
}

.ck-toolbar {
    background-color: var(--background_Wild_Sand) !important;
}

.ck-button__label {
    color: var(--colorFontMain) !important;
}

.ck-content {
    background-color: var(--background_Wild_Sand) !important;
}

/* إزالة إدراج الفيديو من المحرر  */
div.ck:nth-child(13) {
    display: none !important;
}

/* جدول المحرر */

figure.table {
    width: 100%;
    display: block;
    border-collapse: collapse;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    overflow: auto;
}

figure.table td {
    padding: 10px;
    box-sizing: border-box;
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
}

figure.table tr {
    width: 100%;
    max-height: 100%;
    word-break: keep-all;
}

figure.table tr:nth-child(even) {
    background-color: var(--background_Wild_Sand)
}


blockquote {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3px;
    padding-right: 3px;
    background-color: var(--background_Wild_Sand);
    box-sizing: border-box;
    border-left: 5px solid var(--divHeader);
}