#header {
    width: 100%;
    height: 60px;
    background-color: var(--color_header);
    position: fixed;
    z-index: 111111;
}

#header_box {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border-bottom-color: var(--border);
    border-bottom-width: 1px;
    border-bottom-style: double;
}

#header_menu_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

#icon_menu {
    font-size: 22px;
    color: var(--iconColor);
}

#logo {
    margin-right: 10px;
}

#logo img {
    width: 150px;
    height: 60px;
    user-select: none;
}

#button_menu_header {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    user-select: none;
    background-color: var(--background_white);
}

#button_menu_header:hover {
    background-color: var(--background_hover);
}

#header_menu_top {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#header_menu_top a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#header_menu_top a:hover {
    background-color: var(--background_hover);
    color: var(--colorFontMain_hover);
    border-bottom-color: var(--border);
    border-bottom-width: 1px;
    border-bottom-style: double;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px;
}

#header_menu_top a i {
    user-select: none;
}

#header_menu_top p {
    margin-right: 5px;
    margin-left: 8px;
}

#SideMenuBox {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(0px);
    background-color: #00000002;
    top: 60px;
    border-top-color: var(--border);
    border-top-width: 1px;
    border-top-style: double;
    transition: right 0.3s ease;
}

#SideMenu {
    width: 80%;
    max-width: 300px;
    height: 90%;
    background-color: var(--background_white);
    position: absolute;
    top: 0px;
    padding: 0px;
    list-style: none;
    margin: 0px 0px 0px 0px;
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
    right: -300px;
    /* تم تغيير القيمة إلى -300px لتأخير القائمة عند الإخفاء */
    transition: right 0.3s ease;
    /* تمت إضافة خاصية الانتقال لتحقيق حركة سلسة */
    overflow-y: auto;
}

#SideMenu a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

#SideMenu a:hover {
    background-color: var(--background_hover);
}


#SideMenuBox.active {
    backdrop-filter: blur(5px);
    transition: right 0.3s ease;
}

/* تمت إضافة القاعدة التالية لتغيير قيمة right عند الضغط على زر القائمة */
#SideMenu.active {
    right: 0;
    transition: right 0.3s ease;
}


#SideMenubut {
    display: block;
    width: 200px;
    border-radius: 8px;
    border: none;
    background-color: var(--button);
    color: var(--colorWhite);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    transition: 0.5s ease-in-out;
}

@media (max-width: 650px) {
    #header_menu_top {
        display: none;
    }

    #header_menu_top {
        display: flex;
        align-self: stretch;

    }

    #header_menu_top a p {
        display: none;
    }

    #header_menu_top a {
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
    }

    #header_menu_top a:hover {
        background-color: #00000002;
        border: none;
        border-radius: 0px;
    }

    #header_menu_top a i {
        margin-right: 10px;
        margin-left: 10px;
    }
}


@media (max-width: 500px) {
    #header_menu_top {
        width: 100%;
        display: flex;
        justify-content: left;
    }
}

@media (max-width: 330px) {
    #header_menu_top {
        display: none;
    }

    #SideMenubut {
        width: 140px;
    }

}