i.fa-solid.fa-lightbulb#buttonTheme 
#rights
    p=`جميع الحقوق محفوظة كنز الإسلام ©2023`
#footer
    img(src="/icon/logoFooter.svg" alt="logo" class="iconFilter" width="30" height="30")#logo_footer.iconFilter
    #footer_box
        #footer_right 
            h2.footer_category حول المنصة
            p="منصة كنز الإسلام هي منصة إلكترونية تهدف إلى تقديم محتوى إسلامي شامل يشمل القرآن الكريم، الأذكار، الفتاوى، الأدعية، أوقات الصلاة، وغيرها من المحتوى الإسلامي."
        #footer_left 
            h2.footer_category وسائل التواصل
            #footer_social 
                a(href="https://t.me/KanzislamNet")
                    i.fa-brands.fa-telegram.iconSocial 
                a(href="https://www.instagram.com/kanzislamnet")
                    i.fa-brands.fa-square-instagram.iconSocial  
                a(href="https://www.tiktok.com/@kanzislamnet")
                    i.fa-brands.fa-tiktok.iconSocial 
                a(href="mailto:KanzislamNet@gmail.com")
                    i.fa-solid.fa-envelope.iconSocial 
                a(href="SMS:+966553556010")
                    i.fa-solid.fa-comment-sms.iconSocial