img(src="/static/icon/dark.svg" alt="تغيير الثيم" width="25" height="25")#buttonTheme 
#rights
    p=`جميع الحقوق محفوظة كنز الإسلام ©2023`
#footer
    img(src="/static/icon/logo_2.svg" alt="logo" class="iconFilter" width="30" height="30")#logo_footer
    #footer_box
        #footer_right 
            h2.footer_category حول المنصة
            p="منصة كنز الإسلام هي منصة إلكترونية تهدف إلى تقديم محتوى إسلامي شامل يشمل القرآن الكريم، الأذكار، الفتاوى، الأدعية، أوقات الصلاة، وغيرها من المحتوى الإسلامي."
        #footer_left 
            h2.footer_category وسائل التواصل
            #footer_social 
                a(href="https://t.me/KanzislamNet")
                    img(src="/static/icon/telegram.svg" alt="telegram" class="iconFilter" width="30" height="30") 
                a(href="https://www.instagram.com/kanzislamnet")
                    img(src="/static/icon/instagram.svg" alt="instagram" class="iconFilter" width="30" height="30") 
                a(href="https://www.tiktok.com/@kanzislamnet")
                    img(src="/static/icon/tiktok.svg" alt="tiktok" class="iconFilter" width="30" height="30") 
                a(href="mailto:KanzislamNet@gmail.com")
                    img(src="/static/icon/email.svg" alt="email" class="iconFilter" width="30" height="30") 
                a(href="SMS:+966553556010")
                    img(src="/static/icon/call_chat.svg" alt="call_chat" class="iconFilter" width="30" height="30") 