#header
    #header_box
        #header_menu_right
            button#button_menu_header
                li.fa-solid.fa-bars#icon_menu
            a(href="/" title="logo")#logo
                img(src="/icon/logo.svg" alt="menu" id="iconLogo" width="150" height="60")
        #header_menu_top
            a(href="/quran")
                li.fa-solid.fa-book-quran.iconMenuHeader
                p القرآن الكريم
            a(href="/adhkar")
                li.fa-solid.fa-hands-praying.iconMenuHeader
                p اذكار
            a(href="/prayer")
                li.fa-solid.fa-clock.iconMenuHeader
                p اوقات الصلاة
        #SideMenuBox
            #SideMenu
                a(href="/adhkar") اذكار 
                a(href="/quran") القرآن الكريم 
                a(href="/hisnmuslim") حصن المسلم
                a(href="/fataawa-ibn-baaz") الفتاوى
                a(href="/tafsir-quran") التفاسير
                a(href="/radio") الإذاعات
                a(href="/quran/سورة_الكهف") الكهف
                a(href="/adhkar/أذكار_المساء") اذكار المساء
                a(href="/adhkar/أذكار_الصباح") اذكار الصباح
                button#SideMenubut الرئيسية
