#header
    #header_box
        #header_menu_right
            button#button_menu_header
                img(src="/static/icon/menu.svg" alt="menu" class="iconFilter" width="22" height="22")#icon_menu
            a(href="/" title="logo")#logo
                img(src="/static/icon/logo.svg" alt="menu" class="iconFilter" width="150" height="60")
        #header_menu_top
            a(href="/quran")
                img(src="/static/icon/quran.svg" alt="quran" class="iconFilter" width="15" height="15")
                p القرآن الكريم
            a(href="/adhkar")
                img(src="/static/icon/adhkar.svg" alt="adhkar" class="iconFilter" width="15" height="15")
                p اذكار
            a(href="/prayer")
                img(src="/static/icon/prayer.svg" alt="prayer time" class="iconFilter" width="15" height="15")
                p اوقات الصلاة
        #SideMenuBox
            #SideMenu
                a(href="/adhkar") اذكار 
                a(href="/quran") القرآن الكريم 
                button#SideMenubut الرئيسية
