#header
    #header_box
        #header_menu_right
            button#button_menu_header
                li.fa-solid.fa-bars#icon_menu
            a(href="/" title="logo")#logo
                img(src="/static/icon/logo.svg" alt="menu" id="iconLogo" width="150" height="60")
        #header_menu_top
            a(href="/quran")
                li.fa-solid.fa-book-quran.iconMenuHeader
                p القرآن الكريم
            a(href="/adhkar")
                li.fa-solid.fa-hands-praying.iconMenuHeader
                p اذكار
            a(href="/prayer")
                li.fa-solid.fa-clock.iconMenuHeader
                p اوقات الصلاة
        #SideMenuBox
            #SideMenu
                a(href="/adhkar") اذكار 
                a(href="/quran") القرآن الكريم 
                button#SideMenubut الرئيسية
