#header
    #header_box
        #header_menu_right
            button#button_menu_header(title="فتح القائمة" aria-label="فتح القائمة")
                i.fa-solid.fa-bars#icon_menu
            a(href="/" title="الشعار" aria-label="العودة إلى الصفحة الرئيسية")#logo
                img(src="/icon/logo.svg" alt="شعار الموقع" id="iconLogo" width="150" height="60")
        #header_menu_top
            a(href="/quran" title="القرآن الكريم" aria-label="القرآن الكريم")
                i.fa-solid.fa-book-quran.iconMenuHeader
                p(aria-label="القرآن الكريم") القرآن الكريم
            a(href="/adhkar" title="الأذكار" aria-label="الأذكار")
                i.fa-solid.fa-hands-praying.iconMenuHeader
                p(aria-label="الأذكار") أذكار
            a(href="/prayer" title="أوقات الصلاة" aria-label="أوقات الصلاة")
                i.fa-solid.fa-clock.iconMenuHeader
                p(aria-label="أوقات الصلاة") أوقات الصلاة
        #SideMenuBox
            #SideMenu
                a(href="/" title="الصفحة الرئيسية" aria-label="الصفحة الرئيسية") الرئيسية 
                a(href="/adhkar" title="الأذكار" aria-label="الأذكار") أذكار 
                a(href="/quran" title="القرآن الكريم" aria-label="القرآن الكريم") القرآن الكريم 
                a(href="/hisnmuslim" title="حصن المسلم" aria-label="حصن المسلم") حصن المسلم
                a(href="/fataawa-ibn-baaz" title="الفتاوى" aria-label="الفتاوى") الفتاوى
                a(href="/tafsir-quran" title="التفاسير" aria-label="التفاسير") التفاسير
                a(href="/radio" title="الإذاعات" aria-label="الإذاعات") الإذاعات
                a(href="/quran/سورة_الكهف" title="سورة الكهف" aria-label="سورة الكهف") الكهف
                a(href="/adhkar/أذكار_المساء" title="أذكار المساء" aria-label="أذكار المساء") أذكار المساء
                a(href="/adhkar/أذكار_الصباح" title="أذكار الصباح" aria-label="أذكار الصباح") أذكار الصباح
                a(href="/sabha" title="المسبحة الرقمية" aria-label="المسبحة الرقمية") المسبحة الرقمية