extends ../layout.pug

block stylesheet
    link(rel="stylesheet" href="/css/history.css")

block content
    #historyPage
        ul.breadcrumb
            li 
                a(href="/")
                    img(src="/icon/home.svg" alt="الرئيسية" class="iconFilter") 
            li 
                small /
                a(href="/historical-events") الموسوعة التاريخية الإسلامية
        h2 الموسوعة التاريخية الإسلامية
        input(type="text", name="search" placeholder="بحث...")#searchHistory
        ul#historyBox 
            //- li 
            //-     p.id_history 6128 
            //-     a(href="#").link_history وفاة أبي بكر المشهور العدني . 
        button#historyMore المزيد
block script
    script(type="module")
        include ../../public/js/pages/history.js
    script.
        window.options = !{jsStringify(options)};